body{
    font-family: Arial, sans-serif;
    background:lightgoldenrodyellow;
    margin: 0;
    padding: 30px;
    text-align: center; 
}

form{
    background-color: blanchedalmond;
    padding: 30px;
    border-radius: 18px;
    width: 100%;
}

h1{
    font-family: "Times New Roman" , serif;
    font-weight: bold;
    font-size: 50px;
    color: orangered;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
}